{% extends 'base.html' %}
{% load static %}

{% block content %}
    <body class='w3-center'>
        <h1>Index page</h1>
        <img src="https://img.freepik.com/free-vector/invoice-concept-illustration_114360-2485.jpg" alt="Italian Trulli" width=300></img><br>
        {% if user.is_authenticated %}
            <a href="{%url 'course-list' %}"><button class='w3-button w3-round-large w3-teal w3-margin' type="button">Courses</button></a>
            <a href="{%url 'logout' %}"><button class='w3-button w3-round-large w3-red w3-margin' type="button">LogOut</button></a>
            
            {% if student.is_creator %}
            <a href="{%url 'admin-panel' student.slug %}"><button class='w3-button w3-round-large w3-indigo w3-margin' type="button">Creator Panel</button></a>
            {% endif %}

            {% if student.is_hr %}
            <a href="{%url 'hr-panel' %}"><button class='w3-button w3-round-large w3-teal w3-margin' type="button">HR Panel</button></a>
            {% endif %}

            {% if user.is_superuser %}
            <a href="{%url 'plans-panel' %}"><button class='w3-button w3-round-large w3-purple w3-margin' type="button">Plans Panel</button></a>
            {% endif %}
        {% endif %}
        <h4 class='w3-round w3-margin w3-border w3-padding' >If the <e class='w3-text-teal'>Course Stats</e> redirects to index then you are not a superuser and are not allowed to open stats page .</h4>
        </body>
{% endblock %}