{% extends 'footer.html' %}
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Jobs{% endblock title %}</title>

        {% block css %}
		<link rel="stylesheet" href="{% static 'assets\jobs\jobs.css' %}" />
        <link rel="stylesheet" href="{% static 'assets\jobs\jobs2.css' %}" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

        <link rel="shortcut icon" type="image/png" href="{% static 'assets/main/favicon.png'%}"/>
        <script src="{% static 'assets\jobs\script.js' %}" type="text/javascript"></script>
    {% endblock css %}
    {% block google_tags %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-L4D2PNVR8Z"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-L4D2PNVR8Z');
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock google_tags %}

	</head>
	<body>
		{% block body %}
        <section id="banner-section">
            <div id="banner">
              <div class="text-white text-center">
                <p class="fw-bolder">Join us. You won't regret it.</p>
                <button class="btn btn-success fs-4 color">Checkout our jobs here</button>
              </div>
            </div>
          </section>
          <section id="consider-section" class="bg-light shadow-sm">
            <div id="consider">
                <div class="text-center div1">
                    <h1 class="fw-bolder">Why you should consider applying:</h1>
                    <p class="fw-bold mt-2">We're lively, not corporate. We have the energy and boldness of a startup and the expertise and pragmatism of a scale-up. All in one place.</p>
                    <div class="consider-content container text-start">
                        <div class="row pt-3">
                            <div class="col-md-4 px-3">
                                <ul>
                                    <li>Personal and professional growth</li>
                                    <li>Employee wellbeing</li>
                                    <li>An open feedback culture</li>
                                </ul>
                            </div>
                            <div class="col-md-4 px-3">
                                <ul>
                                    <li>A fast-paced tech environment</li>
                                    <li>A hybrid working model</li>
                                    <li> Competitive salary</li>
                                </ul>
                            </div>
                            <div class="col-md-4 px-3">
                                <ul>
                                    <li>Interesting compensation and benefits</li>
                                    <li>Personal tooling & training budget</li>
                                    <li>2 in-house chefs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>
          <section id="steps-section">
            <div id="steps">
                <div class="text-center div1">
                    <h1 class="fw-bolder">From candidate to colleague: the different steps.</h1>
                    <p class="fw-bold text-secondary">Quick note: we don’t follow these steps all too rigorously but we use them as a framework.</p>
                    <div class="d-flex flex-row flex-wrap div2">
                        <div class="subpart">
                            <span class="subpart-p">1</span>
                            <h4>Review</h4>
                            <p>We review application to screen for variety of criteria</p>
                        </div>
                        <div class="subpart">
                            <span class="subpart-p" >2</span>
                            <h4 style="font-size: 23px;">Video/ Intro call</h4>
                            <p>Candidate are asked to submit answers to questions via video or to have an Intro call</p>
                        </div>
                        <div class="subpart">
                            <span class="subpart-p">3</span>
                            <h4>Test Project</h4>
                            <p>We conduct Test Project to get to Know you better</p>
                        </div>
                        <div class="subpart">
                            <span class="subpart-p">4</span>
                            <h4>Tasks</h4>
                            <p>Finalists complete a multi-day task (Under Observation)</p>
                        </div>
                        <div class="subpart">
                            <span class="subpart-p">5</span>
                            <h4>Offer</h4>
                            <p>We make an offer to the candidate we feel is the best for the role</p>
                        </div>
                        <div class="subpart">
                            <span class="subpart-p bg-primary text-white">✓</span>
                            <h4>🎉 🥳</h4>
                            <p>Welcome to the team?</p>
                        </div>
                    </div>
                </div>
            </div>
          </section>
          <section id="cards-section" class="bg-light shadow-sm">
            <div class="cards">
                <div class="cards-heading text-center">
                    <h1 class="fw-bolder">Featured jobs</h1>
                </div>
                <div class="cards-slider owl-carousel">
                    <div class="item card">
                        <div class="card-body">
                          <a href="#" class="btn btn-success">Marketing</a>
                          <h5 class="card-title mt-3">Manager<br><span class="text-secondary">
                            digital Content and Strategy
                          </span></h5>
                          <a href="#" class="btn btn-success align-items-end mt-5">New york</a>
                        </div>
                    </div>
                    <div class="item card">
                        <div class="card-body">
                          <a href="#" class="btn btn-success">Marketing</a>
                          <h5 class="card-title mt-3">Manager<br><span class="text-secondary">
                            digital Content and Strategy
                          </span></h5>
                          <a href="#" class="btn btn-success align-items-end mt-5">New york</a>
                        </div>
                    </div>
                    <div class="item card">
                        <div class="card-body">
                          <a href="#" class="btn btn-success">Marketing</a>
                          <h5 class="card-title mt-3">Manager<br><span class="text-secondary">
                            digital Content and Strategy
                          </span></h5>
                          <a href="#" class="btn btn-success align-items-end mt-5">New york</a>
                        </div>
                    </div>
                    <div class="item card">
                        <div class="card-body">
                          <a href="#" class="btn btn-success">Marketing</a>
                          <h5 class="card-title mt-3">Manager<br><span class="text-secondary">
                            digital Content and Strategy
                          </span></h5>
                          <a href="#" class="btn btn-success align-items-end mt-5">New york</a>
                        </div>
                    </div>
                    <div class="item card">
                        <div class="card-body">
                          <a href="#" class="btn btn-success">Marketing</a>
                          <h5 class="card-title mt-3">Manager<br><span class="text-secondary">
                            digital Content and Strategy
                          </span></h5>
                          <a href="#" class="btn btn-success align-items-end mt-5">New york</a>
                        </div>
                    </div>
                    <div class="item card">
                        <div class="card-body">
                          <a href="#" class="btn btn-success">Marketing</a>
                          <h5 class="card-title mt-3">Manager<br><span class="text-secondary">
                            digital Content and Strategy
                          </span></h5>
                          <a href="#" class="btn btn-success align-items-end mt-5">New york</a>
                        </div>
                    </div>
               </div>
           </div>
          </section>
          <section id="job-section">
            <div class="jobs">
                <div class="div1 text-center">
                    <h1 class="mb-4">Here, there, everywhere</h1>
                    <p class="fw-lighter">Audio is global, so we are too. Wherever in the world you’re looking for a new role, chances are, we’re there.</p>
                    <div class="job-button"><a href="{% url 'job_test:jobslist' %}" class="btn btn-dark" style="border-radius: 25px;">See All Locations</a></div>
                </div>
            </div>
          </section>
          <section id="perk-section" class="shadow-sm">
            <div class="perks text-white">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7">
                            <img class="perk-img" src="https://images.startups.co.uk/wp-content/uploads/2018/06/08093757/Employee-benefits-and-perks.jpg">
                        </div>
                        <div class="col ps-5">
                            <div class="perks-heading">
                                <h1>Perks and benefits</h1>
                            </div>
                        <ul>
                            <li>Professional Support. Job Training.</li>
                            <li>Financial & Retirement.</li>
                            <li>Vacation & Time Off. Vacation & Paid Time Off.</li>
                            <li>Perks & Discounts. Free Lunch or Snacks.</li>
                            <li> Its affordable for everyone.</li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
          </section>
          <section id="team-section">
            <div class="team">
                <div class="team-heading fw-bolder text-center fst-italic">
                    <h1>Our recruitment team</h1>
                </div>
                <div class="d-flex flex-row flex-wrap justify-content-start align-items-stretch">
                    <div class="team-data d-flex flex-fill justify-content-start align-items-stretch">
                        <div class="team-data1">
                            <div class="d-flex flex-column" style="height: 100%;">
                                <div class="px-0 pt-0">
                                    <div class="d-flex justify-content-center div-img">
                                        <img src="images/dp-1.jpeg" class="rounded-circle">
                                    </div>
                                </div>
                                <div class="text-center div-content">
                                    <h5>Name</h5>
                                    <p class="text-secondary p-0">Position</p>
                                </div>
                                <div class="team-button d-flex flex-grow-1 justify-content-center">
                                    <button class="btn btn-primary">LinkedIn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-data d-flex flex-fill justify-content-startalign-items-stretch">
                        <div class="team-data1">
                            <div class="d-flex flex-column" style="height: 100%;">
                                <div class="px-0 pt-0">
                                    <div class="d-flex justify-content-center div-img">
                                        <img src="images/dp-2.jpg" class="rounded-circle">
                                    </div>
                                </div>
                                <div class="text-center div-content" >
                                    <h5>Name</h5>
                                    <p class="text-secondary p-0">Position</p>
                                </div>
                                <div class="team-button d-flex flex-grow-1 justify-content-center">
                                    <button class="btn btn-primary">LinkedIn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-data d-flex flex-fill justify-content-start align-items-stretch">
                        <div class="team-data1">
                            <div class="d-flex flex-column" style="height: 100%;">
                                <div class="px-0 pt-0">
                                    <div class="d-flex justify-content-center div-img">
                                        <img src="images/dp-2.png" class="rounded-circle">
                                    </div>
                                </div>
                                <div class=" text-center div-content">
                                    <h5>Name</h5>
                                    <p class="text-secondary p-0">Position</p>
                                </div>
                                <div class="team-button d-flex flex-grow-1 justify-content-center">
                                    <button class="btn btn-primary">LinkedIn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock body %}
    </body>
    </html>
