{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Aos styled_link -->
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
		<title>Subscribed | Newsletter</title>
		<link href="{% static 'assets/subscribed/headfoot.css' %}" rel="stylesheet" />
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/main/favicon.png'%}"/>
        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-L4D2PNVR8Z"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-L4D2PNVR8Z');
		</script>
	</head>
	<body>
		<div class="dropMenu">
	<ul>
		<li><a href="##">Catalog » </a></li>
		<li><a href="##">Products » </a></li>
		<li><a href="##">Career paths » </a></li>
		<li><a href="##">Resources » </a></li>
		<li><a href="##">For Business » </a></li>
		<div class="mob1">
		{% if user.is_authenticated %}
							<p>Hi, {{user.username}}</p>
							<a href="{% url 'logout' %}"><button class="btn" id='logout'>LogOut</button></a>
							{% else %}
							<a href="{% url 'login' %}"><button class="btn" id="login">LogIn</button></a>
							</div>
							<a href="{% url 'register' %}"><button class="btn1" id="btn1">Register</button></a>
							{% endif %}

	</ul>
	<div class="Close">X</div>
</div>
			<!-- //---------------------------------- -->
			<div class="header">
				<div class="sub_header">
					<div class="logo">
						<img src="{% static 'assets/main/logo.png'%}" alt="logo" />
					</div>
					<div class="menu_item">
						<ul>
							<li>
								<a href="##" class="nav_item">Catalog</a
								><span class="nav_item">⌵</span>
							</li>
							<li>
								<a href="##" class="nav_item">Products</a
								><span class="nav_item">⌵</span>
							</li>
							<li>
								<a href="##" class="nav_item">Career paths</a
								><span class="nav_item">⌵</span>
							</li>
							<li>
								<a href="##" class="nav_item">Resources</a
								><span class="nav_item">⌵</span>
							</li>
							<li>
								<a href="##" class="nav_item">For Business</a
								><span class="nav_item">⌵</span>
							</li>

						</ul>
						<div class="buttons">
							{% if user.is_authenticated %}
							<p>Hi, {{user.username}}</p>
							<a href="{% url 'logout' %}"><button id='logout'>LogOut</button></a>
							{% else %}
							<a href="{% url 'login' %}"><button id="login">LogIn</button></a>
							<a href="{% url 'register' %}"><button id="register">Register</button></a>
							{% endif %}
						</div>
					</div>
					<div class="ham">
						<img src="{% static 'assets/main/menu.png'%}" alt="menu" />
					</div>
				</div>
			</div>
<br>
<br>
<br>
	<div class="des">
		<h1>Welcome to the Techsnap Community!</h1>
		<p >Hey, {{ email }}</p>
		<img src="{%static 'assets/subscribed/sampreeth.jpg' %}">
		<p class="p_bold">Thanks for joining Techsnap newsletter. Hope you’re having an awesome day!</p>
		<p>My name is Sampreeth Saka and I’m the “Chief Executive officer” here at Techsnap—</p>
		<p>I want to personally thank you for joining the techsnap.in community and tell you a little bit about what you can expect from me and these emails.</p>
		<p>You probably signed up because you either read one of our free tutorials, or wanted to find out more information about Careers and skills required to land on one, or for live mentorship ,or to share your project ideas</p>
		<p>Either way, I’m glad that you decided to join the community. We reserve some of our best content for members on this list.</p>
		<p>Usually you can expect to get two or three emails from me each week—unless you sign up for one of my email courses.</p>
		<P>I started the Techsnap newsletter to make a connection with the folks who read our blogs or take our courses or choose career path And so, many of the emails are based on questions that I got from readers like you. </P>
		<p>Once again, welcome to the newsletter. I and the rest of the techsnap team look forward to hearing from you and serving you as best as we can. If there is ever anything I can do for you please don’t hesitate to reach out to me.</p>
		<p>Snap the tech with Techsnap!</p>
		<p>— Sampreeth Saka</p>
		<p style="text-align: center;">
		<a href="https://www.techsnap.in/" style="color: rgb(236, 69, 208);">» Click Here to Explore techsnap.in</a>
		</p>
	</div>


<div class="footer_MainBox">
			<div class="Footer_page">
				<footer class="Footer_conatiner">
					<div class="Footer_header">
						<img src="{% static 'assets/main/logo.png'%}"alt="Logo" />
						<br /><br />
						<p>We are here to endure your muddled stages of knowing the trends while pursuing UG-CSE.</br>we help you to know about trending jobs and required skills for achieving one particular designation</p>
						<br>
						<p>We will succour you in submitting your university projects as well as steer you with free tutorials, online courses, live courses and career paths</p>
					</div>
					<div class="Footer_columns_holder">
						<div class="Footer_columns">
							<h1>Company</h1>
							<a href="{% url 'aboutus' %}">About us</a>
							<a href="{% url 'learnerstories' %}">Learner stories</a>
							<a href="{% url 'boardmembers' %}">our people</a>
							<a href="{% url 'job_test:jobslist' %}">jobs</a>
						</div>
						<div class="Footer_columns">
							<h1>Resources</h1>
							<a href="##">Tutorials</a>
							<a href="{% url 'careerpath' %}">Career paths</a>
							<a href="##">Courses</a>
							<a href="##">Blogs</a>
						</div>
						<div class="Footer_columns">
							<h1>Support</h1>
							<a href="{% url 'contact' %}">Contact us</a>
							<a href="##">FAQ</a>
							<a href="{% url 'any_bugs' %}">Any ideas/Bugs</a>
							<a href="{% url 'invest' %}">Get Involved</a>
						</div>
						<div class="Footer_columns">
							<h1>Services</h1>
							<a href="##">Startup services</a>
							<a href="##">Design services</a>
							<a href="##">Mini Projects</a>
							<a href="##">Mock interviews</a>
						</div>
					</div>
					<div class="join_our desktop">
						<p>Join our newsletter</p>
						<form class="input_holder">
							<input type="text" />
							<button type="submit">Subscribe</button>
						</form>
					</div>
				</footer>
				<div class="Privacy_holder">
					<div class="Privacy_links">
						<a href="{% url 'privacy' %}">Privacy policy</a>
						<a href="{% url 'cookies' %}">Cookies Notice</a>
						<a href="{% url 'security' %}">Security</a>
						<a href="{% url 'terms' %}">Terms of use</a>
					</div>
					<div class="Social-media">
						<div class="image_conatiner">
							<a href="https://www.linkedin.com/company/74741373/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" id="link" /></a>

							<a href="{% url 'contact' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png" id="link" /></a>

							<a href="https://trello.com/b/SMDt9NMY/techsnap-upcoming-releases"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC-APsSZXqFUpTTg9qvGW6D5hERazjQfAMkM0Oz6b9sC3uIwU4-_fD8CatVhbAUG4hz3g&usqp=CAU" id="link" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="copyRight">
				Made with 💗 in india © 2021 Techsnap Educations LLP. All Rights
				Reserved.
			</div>
		</div>
	</body>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script>
new Splide( '.splide', {
	type   : 'loop',
	autoplay: true,
	pagination : false,
	arrows     : false,
	perPage    : 2,
	perMove    : 1,
	focus  : 'center',
	autoplay: true,
	gap    : '1rem',
	breakpoints : {
		'600': {
	perPage : 1,
	gap    : '1rem'
		}
	},
} ).mount();
</script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init({
			duration: 900,
			offset: 220,
			easing: 'ease-in-out-quad',
		});

		const header = document.querySelector('.header');
		const navLink = document.querySelectorAll('.nav_item');
		const ham = document.querySelector('.ham');

	</script>
	<script>
			//----------------------------

		  const Close=document.querySelector(".Close");
		    const DropMenu =document.querySelector('.dropMenu')
		  ham.addEventListener('click',() => {
			DropMenu.classList.add("MenuAnimation")
			console.log('sdsd');

		})
		Close.addEventListener('click',() => {
			DropMenu.classList.remove('MenuAnimation')

		})
	//-------
	</script>
</html>
