<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style/aside.css" />
		<link rel="stylesheet" href="style/cheatSheet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>Document</title>
	</head>
	<body>
		<div class="main_conatanier">
			<aside>
				<div class="logo">
					<img src="/assets/logo.png" alt="logo" />
				</div>
				<div class="community">
					<div class="title">
						<h2>COMMUNITY</h2>
					</div>
					<div class="menu_item">
						<div class="item">
							<span>
								<img src="/assets/icon.svg" alt="icons" />
							</span>
							<p>Blogs</p>
						</div>
						<div class="item">
							<span>
								<img src="/assets/icon.svg" alt="icons" />
							</span>
							<p>Cheat Sheets</p>
						</div>
						<div class="item">
							<span>
								<img src="/assets/icon.svg" alt="icons" />
							</span>
							<p>Open Courese</p>
						</div>
					</div>
				</div>
				<div class="techsnap">
					<div class="title">
						<h2>TECHSNAP</h2>
					</div>
					<div class="menu_item">
						<div class="item">
							<span>
								<img src="/assets/icon.svg" alt="icons" />
							</span>
							<p>Events</p>
						</div>
						<div class="item">
							<span>
								<img src="/assets/icon.svg" alt="icons" />
							</span>
							<p>Webinars</p>
						</div>
						<div class="item">
							<span>
								<img src="/assets/icon.svg" alt="icons" />
							</span>
							<p>Challenges</p>
						</div>
					</div>
				</div>
			</aside>
			<div class="main_section">
				<header></header>
				<!-- Navigation Bar -->

				<div class="cheatSheet_section">
					<div class="cheatSheet_card">
						<div class="text_zone">
							<div class="text_header">
								<div class="star_recommended">
									<span><img src="/assets/star.svg" alt="star" /></span>
									<p>RECOMMENDED BY</p>
									<img
										src="https://res.cloudinary.com/dyd911kmh/image/fetch/t_avatar_thumbnail/https://assets.datacamp.com/users/avatars/000/494/311/square/Screenshot_2017-04-26_16.02.58.png?1493215479"
										alt="profile"
									/>
									<h3>Alan Biju</h3>
								</div>
								<div class="tags">
									<div class="tag">
										<p>Big Data</p>
										<span>+2</span>
									</div>
								</div>
							</div>
							<div class="text_section">
								<div class="title">
									<h2>PySpark Cheat Sheet: Spark in Python</h2>
									<span>May 10th, 2021</span>
								</div>
								<p>
									This PySpark cheat sheet with code samples covers the basics
									like initializing Spark in Python, loading data, sorting, and
									repartitioning.
								</p>
							</div>
							<div class="text_footer">
								<div class="rating">147</div>
								<div class="social_icons">
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<button>Download</button>
								</div>
							</div>
						</div>
						<div class="thumbNail_zone">
							<img src="/assets/thumb.png" alt="thumbnail" />
						</div>
					</div>
					<div class="cheatSheet_card">
						<div class="text_zone">
							<div class="text_header">
								<div class="star_recommended">
									<span><img src="/assets/star.svg" alt="star" /></span>
									<p>RECOMMENDED BY</p>
									<img
										src="https://res.cloudinary.com/dyd911kmh/image/fetch/t_avatar_thumbnail/https://assets.datacamp.com/users/avatars/000/494/311/square/Screenshot_2017-04-26_16.02.58.png?1493215479"
										alt="profile"
									/>
									<h3>Alan Biju</h3>
								</div>
								<div class="tags">
									<div class="tag">
										<p>Big Data</p>
										<span>+2</span>
									</div>
								</div>
							</div>
							<div class="text_section">
								<div class="title">
									<h2>PySpark Cheat Sheet: Spark in Python</h2>
									<span>May 10th, 2021</span>
								</div>
								<p>
									This PySpark cheat sheet with code samples covers the basics
									like initializing Spark in Python, loading data, sorting, and
									repartitioning.
								</p>
							</div>
							<div class="text_footer">
								<div class="rating">147</div>
								<div class="social_icons">
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<button>Download</button>
								</div>
							</div>
						</div>
						<div class="thumbNail_zone">
							<img src="/assets/thumb.png" alt="thumbnail" />
						</div>
					</div>
					<div class="cheatSheet_card">
						<div class="text_zone">
							<div class="text_header">
								<div class="star_recommended">
									<span><img src="/assets/star.svg" alt="star" /></span>
									<p>RECOMMENDED BY</p>
									<img
										src="https://res.cloudinary.com/dyd911kmh/image/fetch/t_avatar_thumbnail/https://assets.datacamp.com/users/avatars/000/494/311/square/Screenshot_2017-04-26_16.02.58.png?1493215479"
										alt="profile"
									/>
									<h3>Alan Biju</h3>
								</div>
								<div class="tags">
									<div class="tag">
										<p>Big Data</p>
										<span>+2</span>
									</div>
								</div>
							</div>
							<div class="text_section">
								<div class="title">
									<h2>PySpark Cheat Sheet: Spark in Python</h2>
									<span>May 10th, 2021</span>
								</div>
								<p>
									This PySpark cheat sheet with code samples covers the basics
									like initializing Spark in Python, loading data, sorting, and
									repartitioning.
								</p>
							</div>
							<div class="text_footer">
								<div class="rating">147</div>
								<div class="social_icons">
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<button>Download</button>
								</div>
							</div>
						</div>
						<div class="thumbNail_zone">
							<img src="/assets/thumb.png" alt="thumbnail" />
						</div>
					</div>
					<div class="cheatSheet_card">
						<div class="text_zone">
							<div class="text_header">
								<div class="star_recommended">
									<span><img src="/assets/star.svg" alt="star" /></span>
									<p>RECOMMENDED BY</p>
									<img
										src="https://res.cloudinary.com/dyd911kmh/image/fetch/t_avatar_thumbnail/https://assets.datacamp.com/users/avatars/000/494/311/square/Screenshot_2017-04-26_16.02.58.png?1493215479"
										alt="profile"
									/>
									<h3>Alan Biju</h3>
								</div>
								<div class="tags">
									<div class="tag">
										<p>Big Data</p>
										<span>+2</span>
									</div>
								</div>
							</div>
							<div class="text_section">
								<div class="title">
									<h2>PySpark Cheat Sheet: Spark in Python</h2>
									<span>May 10th, 2021</span>
								</div>
								<p>
									This PySpark cheat sheet with code samples covers the basics
									like initializing Spark in Python, loading data, sorting, and
									repartitioning.
								</p>
							</div>
							<div class="text_footer">
								<div class="rating">147</div>
								<div class="social_icons">
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<button>Download</button>
								</div>
							</div>
						</div>
						<div class="thumbNail_zone">
							<img src="/assets/thumb.png" alt="thumbnail" />
						</div>
					</div>
					<div class="cheatSheet_card">
						<div class="text_zone">
							<div class="text_header">
								<div class="star_recommended">
									<span><img src="/assets/star.svg" alt="star" /></span>
									<p>RECOMMENDED BY</p>
									<img
										src="https://res.cloudinary.com/dyd911kmh/image/fetch/t_avatar_thumbnail/https://assets.datacamp.com/users/avatars/000/494/311/square/Screenshot_2017-04-26_16.02.58.png?1493215479"
										alt="profile"
									/>
									<h3>Alan Biju</h3>
								</div>
								<div class="tags">
									<div class="tag">
										<p>Big Data</p>
										<span>+2</span>
									</div>
								</div>
							</div>
							<div class="text_section">
								<div class="title">
									<h2>PySpark Cheat Sheet: Spark in Python</h2>
									<span>May 10th, 2021</span>
								</div>
								<p>
									This PySpark cheat sheet with code samples covers the basics
									like initializing Spark in Python, loading data, sorting, and
									repartitioning.
								</p>
							</div>
							<div class="text_footer">
								<div class="rating">147</div>
								<div class="social_icons">
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<div class="icon">
										<img src="/assets/face.svg" alt="icon" />
									</div>
									<button>Download</button>
								</div>
							</div>
						</div>
						<div class="thumbNail_zone">
							<img src="/assets/thumb.png" alt="thumbnail" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
