.editProfile {
	width: 90%;
	max-width: 1400px;
	max-height: calc(100vh - 60px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin: 0 auto;
	padding: 0 40px 0 20px;
	@media (max-width: 1500px) {
		min-width: 1100px;
		max-width: 1100px;
	}
	@media (max-width: 1300px) {
		min-width: auto;
	}
	@media (max-width: 700px) {
		max-height: 100%;
		width: 100%;
	}
}
.sub_editProfile {
	max-width: 1400px;
}
.editProfileHeader {
	width: 90%;
	height: 100px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 500px) {
		position: sticky;
		top: -3px;
		background-color: #f6f6f6;
		z-index: 20;
		width: 100%;
		border-bottom: 1px solid #000;
	}
}
.editProfileHeaderTabs {
	min-width: 130px;
	height: 90px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	@media (max-width: 600px) {
		min-width: fit-content;
	}
	div {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: rgb(201, 201, 201);
		display: grid;
		place-items: center;
		font-weight: 500;
		cursor: pointer;
		font-size: 1.3rem;
		outline: none;
		color: rgb(0, 0, 0);
		border: none;
		transition: all 0.5 ease;
		&.active {
			background-color: rgb(0, 0, 0);
			color: #fff;
		}
		@media (max-width: 600px) {
			width: 40px;
			height: 40px;
		}
	}
	p {
		font-size: 1rem;
		font-weight: 500;
		@media (max-width: 600px) {
			font-size: 0.7rem;
			font-weight: 600;
		}
	}
}
@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.editProfiletabcontent {
	display: none;
	margin-top: 30px;
	width: 100%;
	height: 100%;
	min-height: 40vh;
	animation: fadeEffect 1s;
}
.editProfileForm {
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	.upper__section {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 720px) {
			flex-direction: column;
		}
	}
	.lower__section {
		width: 100%;
		margin-top: 50px;
		.details_edit {
			display: flex;
			align-items: center;
			width: inherit;
			justify-content: space-around;
			@media (max-width: 700px) {
				flex-direction: column;
			}
		}
	}
	.Profile_edit {
		width: 250px;
		height: 300px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		@media (max-width: 720px) {
			width: 90%;
		}
		label {
			cursor: pointer;
			img {
				object-fit: cover;
				max-width: 150px;
				min-width: 150px;
				max-height: 150px;
				min-height: 150px;
				border-radius: 50%;
			}
		}
		#profile {
			opacity: 0;
			pointer-events: none;
			display: none;
		}
		.button_zone {
			width: 100%;
			height: 80px;
			display: grid;
			place-items: center;
			#upload {
				background-color: #000;
				color: #fff;
			}
			label {
				display: grid;
				place-items: center;
				width: 160px;
				height: 35px;
				font-weight: 500;
				text-transform: capitalize;
				margin-top: 10px;
				border-radius: 10px;
				background-color: rgba(189, 172, 172, 0.933);
			}
		}
	}
}

.details_edit {
	width: calc(100% - 250px);
	@media (max-width: 720px) {
		width: 100%;
	}
	.display {
		@media (max-width: 720px) {
			flex-wrap: wrap;
			height: 500px;
		}
	}
	.details_edit_zone {
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 650px) {
			flex-direction: column;
			height: fit-content;
			width: 100%;
			margin: 0 auto;
		}
		.input_zone {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			width: 100%;

			label {
				font-family: Nunito;
				font-size: 24px;
				font-style: normal;
				font-weight: 500;
				line-height: 27px;
				text-align: center;
				@media (max-width: 720px) {
					font-size: 18px;
				}
			}
			div {
				font-family: Nunito;
				p {
					font-size: 18px;
					font-weight: 600;
					white-space: nowrap;
				}
				text-align: center;
				@media (max-width: 720px) {
					font-size: 1rem;
				}
				input {
					border: none;
					outline: none;
					border-bottom: 2px solid #3333;
					width: 320px;
					height: 40px;
					background: none;
				}
			}
		}
	}
}
.form__bio {
	width: calc(100% - 50px);
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding: 10px;
	margin-top: 10px;
	@media (max-width: 700px) {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	input {
		border: none;
		outline: none;
		background: none;
		border-bottom: 1px solid #333;
		width: 100%;
		font-weight: 600;
		font-size: 18px;
	}
}
.resume {
	font-family: inherit;
	width: 100%;
	border: 0;
	outline: 0;
	font-size: 1rem;
	color: rgb(0, 0, 0);
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}
.form__group {
	position: relative;
	padding: 15px 0 0;
	margin: 20px 10px;
	width: 40%;
	@media (max-width: 630px) {
		width: 100%;
		margin: 5px auto;
		input {
			width: 100%;
		}
	}
}
.form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #000000;
	outline: 0;
	font-size: 1rem;
	color: rgb(0, 0, 0);
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}
.form__field::placeholder {
	color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
	font-size: 1rem;
	cursor: text;
	top: 20px;
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #000000;
	white-space: nowrap;
	pointer-events: none;

	@media (max-width: 650px) {
		font-size: 0.8rem;
	}
}

.form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;

	border-image-slice: 1;
}
.form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #b6228f;
	font-weight: 200;
}

/* reset input */
.form__field:required,
.form__field:invalid {
	box-shadow: none;
}
.file-input {
	width: 100%;
}
.file {
	opacity: 0;

	height: 0.1px;
	position: absolute;
}

.file-input label {
	display: block;
	position: relative;
	width: 200px;
	height: 40px;
	border-radius: 5px;
	background: rgb(228, 228, 228);
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
	font-weight: bold;
	cursor: pointer;
	transition: transform 0.2s ease-out;
}

.file-name {
	position: absolute;
	width: 300px;
	top: 15px;
	left: 230px;
	font-size: 0.85rem;
	color: #555;
}

.file input:hover + label,
input:focus + label {
	transform: scale(1.02);
}

/* Adding an outline to the label on focus */
.file input:focus + label {
	outline: 1px solid #000;
	outline: -webkit-focus-ring-color auto 2px;
}

//-----------------------
.Educational_edit {
	padding: 20px;
}
.Educational_input_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 700px) {
		flex-direction: column;
	}
}
.title {
	font-size: 1.4rem;
	font-weight: 600;
	@media (max-width: 700px) {
		font-size: 1rem;
	}
}
.Educational_input_radio_buttons {
	display: flex;
	align-items: center;
	input {
		width: 50px;
	}
}
.custom_radio {
	margin: 20px;
}
.custom_radio input[type='radio'] {
	display: none;
}
.custom_radio input[type='radio'] + label {
	position: relative;
	display: inline-block;
	padding-left: 1.5em;
	margin-right: 2em;
	cursor: pointer;
	line-height: 1em;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.custom_radio input[type='radio'] + label:before,
.custom_radio input[type='radio'] + label:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1em;
	text-align: center;
	color: white;
	font-family: Times;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.custom_radio input[type='radio'] + label:before {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em white;
}
.custom_radio input[type='radio'] + label:hover:before {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
}
.custom_radio input[type='radio']:checked + label:before {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #000000;
}
.file_upload_zone {
	display: grid;
	place-items: center;
	@media (max-width: 700px) {
		left: 10px;
	}
	div {
		width: 70px;
		height: 70px;
		color: #fff;
		display: grid;
		place-items: center;
		border-radius: 50%;
	}
	.add {
		background-color: #fc00bd;
		font-size: 1.5rem;
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		&:hover {
			transform: scale(1.1);
			transition-duration: 0.8s;
		}
	}
}
.add_tags {
	width: 40%;
	padding: 20px;
	@media (max-width: 680px) {
		width: 100%;
		padding: 0px;
		margin: 10px 0;
	}
	.tag-disp {
		width: 100%;
		padding: 0 0 1% 0;
		font-size: 0.8rem;
	}
}
.tag {
	display: inline-block;
	padding: 5px 10px 5px 5px;
	border-radius: 5px;
	background-color: #fc00bd;
	color: #ffffff;
	margin-right: 10px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 0.8rem;
	outline: none;
	border: 1px solid #fc00bd;
	box-sizing: border-box;
	cursor: pointer;
}

.tag::after {
	display: inline-block;
	margin-left: 5px;
	content: 'x';
}

.tag:hover {
	background-color: #ffff;
	color: #fc00bd;
}
.form-textinput {
	font-size: 1.1rem;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 1px;
	border-color: #000000;
	width: 100%;
	height: 30px;
	background: none;
}

.form-textinput:focus {
	outline: none;
	border-color: var(--appcolor);
}

.form-textinput::-webkit-outer-spin-button,
.form-textinput::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form-textinput[type='number'] {
	-moz-appearance: textfield;
}
.editProfiletabcontentTwo {
	position: relative;
}

.deleteButton {
	width: 100px;
	height: 35px;
	color: #fff;
	display: grid;
	place-items: center;
	border-radius: 5px;
	border: 1px solid #ff0052;
	color: #ff0052;
	float: right;
	&:hover {
		background-color: #ff0052;
		color: #fff;
	}
	@media (max-width: 650px) {
		width: 80px;
	}
}
.nav_buttons_container {
	width: 100%;
	height: 120px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	.nav_buttons_box {
		margin: 20px;
		display: flex;
		align-items: center;
		div {
			width: 100px;
			display: grid;
			place-items: center;
			cursor: pointer;
			height: 35px;
			background: rgba(10, 24, 46, 1);
			color: #fff;
			border-radius: 5px;
			margin-right: 10px;
			@media (max-width: 500px) {
				width: 90px;
			}
		}
		button {
			width: 120px;
			border: none;
			outline: none;
			cursor: pointer;
			height: 35px;
			background: rgba(10, 24, 46, 1);
			color: #fff;
			border-radius: 5px;
			margin-right: 10px;
			@media (max-width: 500px) {
				width: 90px;
			}
		}
	}
}
#toast {
	visibility: hidden;
	max-width: 50px;
	height: 50px;
	/*margin-left: -125px;*/
	margin: auto;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;

	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 40px;
	font-size: 17px;
	white-space: nowrap;
}
#toast #img {
	width: 50px;
	height: 50px;

	float: left;

	padding-top: 16px;
	padding-bottom: 16px;

	box-sizing: border-box;

	background-color: #111;
	color: #fff;
}
#toast #desc {
	color: #fff;

	padding: 16px;

	overflow: hidden;
	white-space: nowrap;
}

#toast.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
		fadeout 0.5s 2.5s;
	animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
		fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 40px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 40px;
		opacity: 1;
	}
}

@-webkit-keyframes expand {
	from {
		min-width: 50px;
	}
	to {
		min-width: 350px;
	}
}

@keyframes expand {
	from {
		min-width: 50px;
	}
	to {
		min-width: 350px;
	}
}
@-webkit-keyframes stay {
	from {
		min-width: 350px;
	}
	to {
		min-width: 350px;
	}
}

@keyframes stay {
	from {
		min-width: 350px;
	}
	to {
		min-width: 350px;
	}
}
@-webkit-keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 50px;
	}
}

@keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 50px;
	}
}

@-webkit-keyframes fadeout {
	from {
		top: 40px;
		opacity: 1;
	}
	to {
		top: 70px;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		top: 40px;
		opacity: 1;
	}
	to {
		top: 70px;
		opacity: 0;
	}
}
