/*.certificate-img{
  background-image: url("/images/sample.jpg");
  height: 600px;
}*/
body{
    max-width: 1200px;
    justify-content: center;
  }
  .color{
    background-color: rgb(213, 218, 146);
    border-color: rgb(213, 218, 146);
  }
  .contain{
    font-size: 0.9rem;
  }
  .stars{
    color:rgb(255, 136, 0);
  }
  .download{
    color: black;
    border-color:black;
  }
  .dp{
    height: 60px;
    width: 60px;
  }
  .detail-img{
    height: 40px;
    width: 40px;
  }
  .course-img{
    height: 100%;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .box-detail{
    padding: 1.5rem;
  }
  .close-button1{
    display:none;
  }

  @media screen and (max-width: 988px) {
    .course-img{
      width:min-content;
      height:90px;
      float: left;
      margin-bottom: 3rem;
    }
    .detail{
      font-size: 0.9rem;
    }
    .box-detail{
      padding: 1rem;
    }
    .close-button1{
      display:block;
    }
    .close-button2{
      display: none;
    }
  }
  @media screen and (min-width: 1200px) {
    body{
      margin-left: auto;
      margin-right: auto;
    }
  }
  .purple-color{
    color: purple;
  }
  #mainbody{
    padding-top: 5rem;
  }
  .popover{
    top: 3px;
  }
  .left-window{
    background-color: rgb(32, 192, 11);
  }
  .add-now:hover{
    background-color:rgb(32, 192, 11) ;
    color: grey;
    border-color: rgb(32, 192, 11);
  }
  .modal-open{
    overflow-y: hidden;
  }