.color {
  background: #8e51ff;
}

.all_title {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
}

.all_title p {
  font-size: 1.3rem;
  font-weight: 600;
}

.all_title span {
  font-size: 0.8rem;
}

.career_section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px;
}

.career_path_card {
  width: 30%;
  background: white;
  border-radius: 10px;
  margin: 25px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.career_path_card h1 {
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .career_path_card {
    width: 90%;
  }
}

.career_path_card .trending_third_card_header {
  width: 100%;
  padding: 10px 12px;
  height: 110px;
  background: #e85b60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.career_path_card .trending_third_card_header .tag {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 50px;
  height: 20px;
  background: white;
  color: #e85b60;
  font-weight: 600;
  font-size: 0.7rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.career_path_card .my_progess_trending_card_options_holder {
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.career_path_card .career_path_cards_body {
  width: 100%;
  padding: 20px 10px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.career_path_card .career_path_cards_body p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #3b3b3b;
}

.career_path_card .my_progess_trending_card_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.career_path_card .my_progess_trending_card_option .white {
  color: white;
}

.career_path_card .my_progess_trending_card_option img {
  width: 20px;
  height: 20px;
}

.career_path_card .my_progess_trending_card_option p {
  font-size: 0.7rem;
  color: #444444;
  margin-left: 6px;
  font-weight: 600;
  white-space: nowrap;
}

.career_path_card .my_progress_tick_holder {
  width: 100%;
  height: 100px;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.career_path_card .my_progress_tick_holder .tick {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 3px 0;
}

.career_path_card .my_progress_tick_holder .tick span {
  color: #7933ff;
  margin-right: 10px;
}

.career_path_card .my_progress_tick_holder .tick p {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.my_progress_trending_card_footer {
  width: 100%;
  height: 70px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.my_progress_trending_card_footer button {
  width: 90%;
  height: 35px;
  border: 1px solid black;
  outline: none;
  background: none;
  border-radius: 5px;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
/*# sourceMappingURL=career.css.map */