.leader_board_section {
  width: calc(100% - 200px);
  min-height: 90vh;
  max-height: calc(100vh - 60px);
  padding: 0px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: scroll;
}

@media (max-width: 700px) {
  .leader_board_section {
    width: 100%;
  }
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.leader_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leader_title h1 {
  font-size: 1.5rem;
  min-width: 100%;
  text-align: center;
  white-space: nowrap;
}

.leader_title .leader_board_switch {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.leader_title .leader_board_switch .leaderBoard_tablinks {
  font-weight: 600;
  font-size: 1rem;
  margin-right: 30px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.leader_title .leader_board_switch .leaderBoard_tablinks h1 {
  font-size: 1.2rem;
}

.leader_title .leader_board_switch .leaderBoard_tablinks:hover {
  border-bottom: 2px solid #ec1ee2;
}

.active {
  color: #ec1ee2;
}

.active h1 {
  border-bottom: 2px solid #ec1ee2;
}

table {
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

table th {
  text-align: center;
}

table tr {
  text-align: center;
}

table tbody tr td {
  background-color: rgba(0, 0, 255, 0);
  font-size: 0.9rem;
}

table tbody .row_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table tbody .row_class img {
  border-radius: 50%;
}

#example_filter input {
  border-radius: 5px;
  margin: 10px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  outline-color: rgba(51, 51, 51, 0.356);
  padding: 6px 10px;
  width: 250px;
}

.paginate_button {
  padding: 5px !important;
  min-width: 15px !important;
  margin: 0 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.dataTables_info {
  display: none;
}

.row_class {
  font-weight: 600;
  height: 50px;
}

#header {
  height: 60px;
}

#search {
  display: none;
}

.dataTables_length {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-weight: 600;
}

.dataTables_length select {
  outline: none;
  border: none;
  height: 30px;
  font-weight: 600;
  text-align: center;
  margin: 0 10px;
  width: 60px;
}

#example_paginate {
  margin: 10px;
  float: none;
  text-align: center;
}

.table_section {
  overflow-x: scroll;
}
/*# sourceMappingURL=leaderBoard.css.map */