.live_event_section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.heading_holder {
  padding: 0 10px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.heading_holder h1 {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
}
@media (max-width: 600px) {
  .heading_holder h1 {
    font-size: 1rem;
    margin: 10px;
  }
}
.heading_holder p {
  letter-spacing: 1px;
  text-align: center;
}
.heading_holder span {
  color: rgb(255, 179, 0);
}

.upcoming_cards_holder {
  padding: 20px;
  width: 95%;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1300px) {
  .upcoming_cards_holder {
    margin: 10px auto 0 auto;
    justify-content: center;
  }
}

.upcoming_cards {
  width: 32%;
  height: 380px;
  background: pink;
  margin: 20px 3px;
  border-radius: 20px;
}
.upcoming_cards:hover {
  width: 33%;
  height: 400px;
}
@media (max-width: 1000px){
  .upcoming_cards {
    width: 300px;
  }
}
@media (max-width: 730px) {
  .upcoming_cards {
    width: 95%;
    margin: 20px 0px;
  }
}
.upcoming_cards a{
  text-decoration: none;
}
.upcoming_cards .card_poster_holder {
  width: 100%;
  height: 55%;
}
.upcoming_cards .card_poster_holder img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.upcoming_cards .card_body {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px 15px;
  background: #1e1e1e;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.upcoming_cards .card_body h1 {
  font-size: 1.3rem;
  color: #f2f3f7;
}
@media (max-width: 600px) {
  .upcoming_cards .card_body h1 {
    font-size: 1rem;
  }
}
.upcoming_cards .card_body p {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #868895;
}

.missing_cards {
  width: 30%;
  height: 340px;
  background: pink;
  margin: 20px 3px;
  border-radius: 20px;
}
@media (max-width: 1450px) {
  .missing_cards {
    width: 310px;
  }
}
@media (max-width: 730px) {
  .missing_cards {
    width: 85%;
    margin: 20px 0px;
  }
}
.missing_cards .card_poster_holder {
  width: 100%;
  height: 60%;
}
.missing_cards .card_poster_holder img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.missing_cards .card_body {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px 15px;
  background: #1e1e1e;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.missing_cards .card_body h1 {
  font-size: 1.3rem;
  color: #f2f3f7;
}
@media (max-width: 600px) {
  .missing_cards .card_body h1 {
    font-size: 1rem;
  }
}
.missing_cards .card_body button {
  width: 95%;
  height: 42px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .missing_cards .card_body button {
    height: 38px;
    font-size: 1rem;
  }
}
.missing_cards .card_body button:hover{
  background: currentColor;
				background-color: white;
				color: #000000;
}
.tab {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 555;
  background: #f6f6f6;
  margin: none;
}
@media (max-width: 600px) {
  .tab {
    justify-content: center;
  }
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  height: 40px;
  width: 120px;
  margin: 10px 20px;
  border: none;
  outline: none;
  float: left;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .tab button {
    width: 100px;
    font-size: 1rem;
    height: 30px;
    margin: 0;
  }
}

/* Change background color of buttons on hover */
/* Create an active/current tablink class */
.tab button.active {
  color: rgb(236, 30, 226);
  border-bottom: 3px solid rgb(26, 26, 26);
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin-top: 30px;
  width: 100%;
}
@media (max-width: 600px) {
  .tabcontent {
    margin: 0;
  }
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #f6f6f6;
}/*# sourceMappingURL=liveEvents.css.map */