@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
button {
  cursor: pointer;
}

.my_progess_section {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .my_progess_section {
    max-height: 100%;
  }
}

.my_progess_top_buttons {
  height: 80px;
  width: 90%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_progess_top_buttons button {
  width: 180px;
  height: 40px;
  border: none;
  outline: none;
  background: #d1d1d1;
  border-radius: 20px;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 15px 0 0;
  cursor: pointer;
}

.my_progess_top_buttons .activebtn {
  background: #cd27ff;
}

.my_progress_button_detail_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 20px auto;
}

.my_progess_header {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1.5px #adadad;
}

.my_progess_header h1 {
  font-size: 1.2rem;
  margin: 0 20px 0 0;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  height: 100%;
}

.activeSlide {
  border-bottom: solid 3px #000;
  color: #cd27ff;
}

.my_progess_first_cards_holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .my_progess_first_cards_holder {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.my_progess_first_card {
  width: 32%;
  height: 220px;
  background: white;
  border-radius: 10px;
  margin: 20px 10px 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my_progess_first_card h1 {
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .my_progess_first_card {
    width: 90%;
  }
}

.my_progess_first_card_header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_progess_first_card_header img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 60%;
  margin-left: 10px;
}

.my_progess_first_card_header h1 {
  font-size: 1rem;
  margin-left: 10px;
}

.my_progess_first_card_body {
  width: 90%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.my_progess_first_card_body p {
  font-size: 0.8rem;
  color: #414141;
}

.slideTabContent {
  display: none;
}

.slideTabContent h6 {
  margin: auto;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
}

.content {
  min-height: 300px;
  border: dotted 1px #272727;
  background-color: rgba(4, 4, 255, 0.048);
}

.content h6 {
  margin: auto;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
}

.nocontent {
  min-height: 300px;
  border: dotted 1px #272727;
  background-color: rgba(4, 4, 255, 0.048);
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab.active {
  background-color: #ccc;
}

.my_progess_first_card_footer {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.my_progess_first_card_footer button {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  background: #cc00ff;
  border-radius: 20px;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.my_progess_first_card_footer button:hover {
  background: #dac8df;
}

.my_progress_second_section_holder {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

@media (max-width: 1000px) {
  .my_progress_second_section_holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.my_progress_your_buddy_holder {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .my_progress_your_buddy_holder {
    width: 80%;
  }
}

.my_progress_second_cards_header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_progress_second_cards_header h1 {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 600;
}

.second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 40px;
}

@media (max-width: 600px) {
  .second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.my_progress_campus_holder {
  height: 90%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .my_progress_campus_holder {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.my_progress_second_card_holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my_progess_second_card {
  width: 26%;
  height: 170px;
  background: white;
  border: 1px solid #000;
  margin: 0px 0px 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.my_progess_second_card h1 {
  font-size: 1rem;
}

.my_progess_second_card span {
  margin-right: 10px;
}

.my_progess_second_card h2 {
  font-size: 1.2rem;
  color: #7933ff;
}

@media (max-width: 700px) {
  .my_progess_second_card {
    width: 100%;
  }
}

.my_progress_third_card {
  width: 90%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #7933ff;
}

.my_progress_third_card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.my_progress_third_card h1 {
  font-size: 1.2rem;
  color: #fff;
  width: 90%;
  font-weight: 500;
}

.my_progress_third_card button {
  width: 150px;
  height: 40px;
  outline: none;
  border: none;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.my_progress_third_card p {
  color: #fff;
  font-weight: 600;
}

.close_banner {
  cursor: pointer;
}

.my_progess_trending_holder {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
}

@media (max-width: 900px) {
  .my_progess_trending_holder {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.my_progress_trending_header {
  width: 87%;
  height: 30px;
  margin: 0px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .my_progress_trending_header {
    margin: 0px 10px 0 30px;
    width: 83%;
  }
}

.my_progress_trending_header .heading_icon_holder {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .my_progress_trending_header .heading_icon_holder {
    width: 240px;
  }
}

.my_progress_trending_header p {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  white-space: nowrap;
}

.my_progress_trending_header h1 {
  font-size: 1.2rem;
  margin: 0 20px 0 0;
  text-transform: capitalize;
  font-weight: 600;
}

.my_progess_trending_card_options_holder {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_progess_trending_card_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.my_progess_trending_card_option .white {
  color: white;
}

.my_progess_trending_card_option img {
  width: 20px;
  height: 20px;
}

.my_progess_trending_card_option p {
  font-size: 0.7rem;
  color: #444444;
  margin-left: 6px;
  font-weight: 600;
  white-space: nowrap;
}

.my_progess_trending_card {
  width: 31.2%;
  height: 180px;
  background: white;
  border-radius: 10px;
  margin: 10px 0px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my_progess_trending_card h1 {
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .my_progess_trending_card {
    width: 90%;
  }
}

.my_progess_trending_card .trending_card_author {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_progess_trending_card .trending_card_author .pink {
  color: #e915c6;
}

.my_progess_trending_card .trending_card_author p {
  font-size: 0.8rem;
  margin-right: 10px;
  color: dimgray;
  font-weight: 600;
}

.my_progess_trending_card .trending_card_hashtags {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.my_progess_trending_card .trending_card_hashtags p {
  font-size: 0.8rem;
  margin-right: 10px;
  color: #cd27ff;
  font-weight: 600;
}

.my_progess_trending_card_header {
  width: 95%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_progess_trending_card_header .resolution {
  width: 40px;
  height: 20px;
  background: #fbff04;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.my_progess_trending_card_header .resolution p {
  font-size: 0.6rem;
  font-weight: 600;
}

.my_progess_trending_card_header img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 60%;
  margin-left: 10px;
}

.my_progess_trending_card_body {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my_progess_trending_card_body h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.my_progress_trending_card_footer {
  width: 100%;
  height: 70px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-top: solid 1px #cfcfcf;
}

.my_progress_trending_card_footer button {
  width: 90%;
  height: 35px;
  border: 1px solid black;
  outline: none;
  background: none;
  border-radius: 5px;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.certificate_card {
  height: 400px;
  margin: 0px 10px 10px 10px;
}

.certificate_card .trending_card_banner {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

.certificate_card .trending_card_banner img {
  width: 100%;
  height: 100%;
}

.second_card {
  height: 350px;
}

.second_card .trending_card_banner {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.second_card .trending_card_banner img {
  width: 100%;
  height: 100%;
}

.my_progess_trending_third_card {
  width: 31%;
  height: 400px;
  background: white;
  border-radius: 10px;
  margin: 10px 0px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my_progess_trending_third_card h1 {
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .my_progess_trending_third_card {
    width: 90%;
  }
}

.my_progess_trending_third_card .trending_third_card_header {
  width: 100%;
  padding: 10px 10px;
  height: 90px;
  background: #e85b60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.my_progess_trending_third_card .my_progess_trending_third_card_body {
  width: 100%;
  padding: 20px 20px 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.my_progess_trending_third_card .my_progess_trending_third_card_body p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #3b3b3b;
}

.my_progess_trending_third_card .my_progress_tick_holder {
  width: 100%;
  height: 100px;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my_progess_trending_third_card .my_progress_tick_holder .tick {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 3px 0;
}

.my_progess_trending_third_card .my_progress_tick_holder .tick span {
  color: #7933ff;
  margin-right: 10px;
}

.my_progess_trending_third_card .my_progress_tick_holder .tick p {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.my_progress_campus_card {
  width: 100%;
  height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 10px 10px 20px;
  background: white;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 600px) {
  .my_progress_campus_card {
    width: 90%;
  }
}

.my_progress_campus_card .three {
  width: 30%;
}

.my_progress_campus_card .six {
  width: 60%;
}

.my_progress_campus_card h6 {
  font-size: 1rem;
}

.my_progress_campus_card h5 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 10px;
}

.my_progress_campus_card .campus_card_header {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #000;
}

.my_progress_campus_card .campus_card_row {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.my_progress_campus_card .row_avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 60%;
}

.my_progress_campus_card .row_avatar img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.tabs_wrap {
  border-bottom: 1px solid #ebedec;
  width: 90%;
  margin: 20px auto;
}

.tabs_wrap .mobile_view {
  border: solid 1px #000;
  font-weight: 600;
  list-style: none;
  white-space: nowrap;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background: #e9ecf1;
  border: 1px solid #c1c4c9;
  padding: 13px 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}

.tabs_wrap .mobile_view h1 {
  font-size: 1rem;
}

@media (max-width: 700px) {
  .tabs_wrap .mobile_view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.tabs_wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  .tabs_wrap ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.tabs_wrap ul li {
  border: solid 1px #000;
  font-weight: 600;
  list-style: none;
  white-space: nowrap;
  width: 20%;
  text-align: center;
  background: #e9ecf1;
  border-right: 1px solid #c1c4c9;
  padding: 13px 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 700px) {
  .tabs_wrap ul li {
    border-bottom: 0px;
    border-right-color: #000000;
    width: 90%;
  }
}

.tabs_wrap ul li .activebtn {
  background: #cd27ff;
}

.tabs_wrap ul li:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media (max-width: 700px) {
  .tabs_wrap ul li:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.tabs_wrap ul li:last-child {
  border-right: 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

@media (max-width: 700px) {
  .tabs_wrap ul li:last-child {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.tabs_wrap ul li:hover {
  background: #cd27ff;
  color: #fff;
}

.activebtn {
  background: #cd27ff !important;
  color: white;
}
/*# sourceMappingURL=my_progress.css.map */