@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
button {
	cursor: pointer;
}
.my_progess_section {
	width: 100%;
	box-sizing: border-box;
	max-height: calc(100vh - 60px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	overflow: scroll;
	margin: 0 auto;
	@media (max-width: 700px) {
		max-height: 100%;
	}
}
.my_progess_top_buttons {
	height: 80px;
	width: 90%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 600px) {
	}
	button {
		width: 180px;
		height: 40px;
		border: none;
		outline: none;
		background: #d1d1d1;
		border-radius: 20px;
		color: #000;
		font-weight: 600;
		font-size: 1rem;
		margin: 0 15px 0 0;
		cursor: pointer;
	}
	& .activebtn {
		background: #cd27ff;
	}
}
.my_progress_button_detail_section {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 20px auto;
}
.my_progess_header {
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: solid 1.5px rgb(173, 173, 173);
	h1 {
		font-size: 1.2rem;
		margin: 0 20px 0 0;
		text-transform: capitalize;
		font-weight: 600;
		cursor: pointer;
		height: 100%;
	}
}
.activeSlide {
	border-bottom: solid 3px #000;
	color: #cd27ff;
}

.my_progess_first_cards_holder {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	@media (max-width: 900px) {
		justify-content: center;
	}
}
.my_progess_first_card {
	width: 32%;

	height: 220px;
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 20px 10px 20px 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	h1 {
		font-size: 1.2rem;
	}
	@media (max-width: 900px) {
		width: 90%;
	}
}
.my_progess_first_card_header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	img {
		width: 30px;
		height: 30px;
		object-fit: contain;
		border-radius: 60%;
		margin-left: 10px;
	}
	h1 {
		font-size: 1rem;
		margin-left: 10px;
	}
}
.my_progess_first_card_body {
	width: 90%;
	display: grid;
	place-items: center;
	p {
		font-size: 0.8rem;
		color: rgb(65, 65, 65);
	}
}
.slideTabContent {
	display: none;

	h6 {
		margin: auto;
		font-weight: 600;
		font-size: 1rem;
		letter-spacing: 1px;
	}
}
.content {
	min-height: 300px;
	border: dotted 1px rgb(39, 39, 39);
	background-color: rgba(4, 4, 255, 0.048);
	h6 {
		margin: auto;
		font-weight: 600;
		font-size: 1rem;
		letter-spacing: 1px;
	}
}
.nocontent {
	min-height: 300px;
	border: dotted 1px rgb(39, 39, 39);
	background-color: rgba(4, 4, 255, 0.048);
}
[data-tab-content] {
	display: none;
}

.active[data-tab-content] {
	display: flex;
}
.tab.active {
	background-color: #ccc;
}
.my_progess_first_card_footer {
	width: 100%;
	height: 50px;
	display: grid;
	place-items: center;
	button {
		width: 200px;
		height: 40px;
		border: none;
		outline: none;
		background: #cc00ff;
		border-radius: 20px;
		color: #000;
		font-weight: 600;
		font-size: 1rem;
		text-transform: capitalize;
		transition: all 0.5s ease;
		cursor: pointer;
		&:hover {
			background: rgb(218, 200, 223);
		}
	}
}
.my_progress_second_section_holder {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 20px auto;

	@media (max-width: 1000px) {
		flex-direction: column;
		width: 100%;
	}
}
.my_progress_your_buddy_holder {
	width: 65%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	@media (max-width: 1000px) {
		width: 80%;
	}
}
.my_progress_second_cards_header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		font-size: 1.1rem;

		text-transform: capitalize;
		font-weight: 600;
	}
}
.second {
	justify-content: flex-start;
	align-items: flex-start;
	height: 40px;
	@media (max-width: 600px) {
		justify-content: center;
		align-items: center;
	}
}
.my_progress_campus_holder {
	height: 90%;
	width: 30%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
	@media (max-width: 600px) {
		width: 90%;
		justify-content: center;
		align-items: center;
	}
}
.my_progress_second_card_holder {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.my_progess_second_card {
	width: 26%;
	height: 170px;
	background: rgb(255, 255, 255);
	border: 1px solid #000;
	margin: 0px 0px 20px 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 20px;
	h1 {
		font-size: 1rem;
	}
	span {
		margin-right: 10px;
	}
	h2 {
		font-size: 1.2rem;
		color: #7933ff;
	}
	@media (max-width: 700px) {
		width: 100%;
	}
}
.my_progress_third_card {
	width: 90%;
	margin: 30px auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 20px;
	flex-direction: column;
	background: #7933ff;
	& .header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	h1 {
		font-size: 1.2rem;
		color: #fff;
		width: 90%;
		font-weight: 500;
	}
	button {
		width: 150px;
		height: 40px;
		outline: none;
		border: none;
		font-weight: 600;
		margin-top: 20px;
		border-radius: 10px;
		cursor: pointer;
	}
	p {
		color: #fff;
		font-weight: 600;
	}
}
.close_banner {
	cursor: pointer;
}
.my_progess_trending_holder {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px auto;
	@media (max-width: 900px) {
		justify-content: center;
	}
}
.my_progress_trending_header {
	width: 87%;
	height: 30px;
	margin: 0px 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 900px) {
		margin: 0px 10px 0 30px;
		width: 83%;
	}
	& .heading_icon_holder {
		width: 280px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 900px) {
			width: 240px;
		}
	}
	p {
		font-size: 1rem;
		font-weight: 500;
		letter-spacing: 1px;
		cursor: pointer;
		white-space: nowrap;
	}
	h1 {
		font-size: 1.2rem;
		margin: 0 20px 0 0;
		text-transform: capitalize;
		font-weight: 600;
	}
}
.my_progess_trending_card_options_holder {
	width: 100%;
	height: 55px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.my_progess_trending_card_option {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 10px;

	& .white {
		color: white;
	}
	img {
		width: 20px;
		height: 20px;
	}
	p {
		font-size: 0.7rem;
		color: rgb(68, 68, 68);
		margin-left: 6px;
		font-weight: 600;
		white-space: nowrap;
	}
}
.my_progess_trending_card {
	width: 31.2%;
	height: 180px;

	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 10px 0px 10px 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	h1 {
		font-size: 1.2rem;
	}
	@media (max-width: 900px) {
		width: 90%;
	}
	& .trending_card_author {
		width: 90%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		& .pink {
			color: rgb(233, 21, 198);
		}
		p {
			font-size: 0.8rem;
			margin-right: 10px;
			color: rgb(105, 105, 105);
			font-weight: 600;
		}
	}

	& .trending_card_hashtags {
		width: 90%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 10px 0;
		p {
			font-size: 0.8rem;
			margin-right: 10px;
			color: #cd27ff;
			font-weight: 600;
		}
	}
}
.my_progess_trending_card_header {
	width: 95%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& .resolution {
		width: 40px;
		height: 20px;
		background: rgb(251, 255, 4);
		display: grid;
		place-items: center;
		p {
			font-size: 0.6rem;
			font-weight: 600;
		}
	}
	img {
		width: 30px;
		height: 30px;
		object-fit: contain;
		border-radius: 60%;
		margin-left: 10px;
	}
}
.my_progess_trending_card_body {
	width: 90%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	h1 {
		font-size: 1.2rem;
		font-weight: 600;
	}
}
.my_progress_trending_card_footer {
	width: 100%;
	height: 70px;
	display: grid;
	place-items: center;
	border-top: solid 1px rgb(207, 207, 207);

	button {
		width: 90%;
		height: 35px;
		border: 1px solid rgb(0, 0, 0);
		outline: none;
		background: none;
		border-radius: 5px;
		color: #000;
		font-weight: 600;
		font-size: 1rem;
		cursor: pointer;
	}
}
.certificate_card {
	height: 400px;
	margin: 0px 10px 10px 10px;
	& .trending_card_banner {
		width: 100%;
		height: 250px;
		margin-bottom: 10px;
		img {
			width: 100%;
			height: 100%;
		}
	}
}
.second_card {
	height: 350px;

	& .trending_card_banner {
		width: 100%;
		height: 150px;
		margin-bottom: 10px;
		img {
			width: 100%;
			height: 100%;
		}
	}
}
.my_progess_trending_third_card {
	width: 31%;
	height: 400px;
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 10px 0px 10px 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	h1 {
		font-size: 1.2rem;
	}
	@media (max-width: 900px) {
		width: 90%;
	}
	& .trending_third_card_header {
		width: 100%;
		padding: 10px 10px;
		height: 90px;
		background: #e85b60;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		box-sizing: border-box;
	}
	& .my_progess_trending_third_card_body {
		width: 100%;
		padding: 20px 20px 10px 20px;
		box-sizing: border-box;

		p {
			font-family: 'Montserrat', sans-serif;
			font-size: 13px;
			line-height: 20px;
			font-weight: 500;
			letter-spacing: 0.5px;
			color: rgb(59, 59, 59);
		}
	}
	& .my_progress_tick_holder {
		width: 100%;
		height: 100px;
		padding: 0px 20px;
		box-sizing: border-box;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		& .tick {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			margin: 3px 0;

			span {
				color: #7933ff;
				margin-right: 10px;
			}
			p {
				font-size: 0.9rem;
				font-weight: 500;
				font-family: 'Montserrat', sans-serif;
			}
		}
	}
}

.my_progress_campus_card {
	width: 100%;
	height: 168px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 10px 10px 20px;
	background: rgb(255, 255, 255);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	box-sizing: border-box;
	@media (max-width: 600px) {
		width: 90%;
	}
	& .three {
		width: 30%;
	}
	& .six {
		width: 60%;
	}
	h6 {
		font-size: 1rem;
	}
	h5 {
		font-size: 0.8rem;
		font-weight: 600;
		margin-left: 10px;
	}
	& .campus_card_header {
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-bottom: 1px solid #000;
	}
	& .campus_card_row {
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	& .row_avatar {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 60%;

		img {
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
	}
}

.tabs_wrap {
	border-bottom: 1px solid #ebedec;
	width: 90%;
	margin: 20px auto;
	& .mobile_view {
		border: solid 1px #000;
		font-weight: 600;
		list-style: none;
		white-space: nowrap;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		background: #e9ecf1;
		border: 1px solid #c1c4c9;
		padding: 13px 35px;
		cursor: pointer;
		transition: all 0.5s ease;
		display: none;
		h1 {
			font-size: 1rem;
		
		}
		
		@media (max-width: 700px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	@media (max-width: 700px) {
	}
}

.tabs_wrap ul {
	display: flex;

	justify-content: center;

	@media (max-width: 700px) {
		display: none;

		flex-direction: column;
		align-items: center;
	}
}

.tabs_wrap ul li {
	border: solid 1px #000;
	font-weight: 600;
	list-style: none;
	white-space: nowrap;
	width: 20%;
	text-align: center;
	background: #e9ecf1;
	border-right: 1px solid #c1c4c9;
	padding: 13px 15px;
	cursor: pointer;
	transition: all 0.5s ease;

	@media (max-width: 700px) {
		border-bottom: 0px;
		border-right-color: #000000;
		width: 90%;
	}
	& .activebtn {
		background: #cd27ff;
	}
}

.tabs_wrap ul li:first-child {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	@media (max-width: 700px) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.tabs_wrap ul li:last-child {
	border-right: 0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	@media (max-width: 700px) {
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.tabs_wrap ul li:hover {
	background: #cd27ff;
	color: #fff;
}
.activebtn {
	background: #cd27ff !important;
	color: white;
}
