.my_profile_holder {
	width: 100%;
	height: 100%;
	max-height: calc(100vh - 60px);
	display: grid;
	place-items: center;
	overflow: scroll;
	@media (max-width: 600px) {
		padding: 0;
	}
}

.my_profile_banner {
	width: 100%;
	background-image: url('/assets/banner.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 270px;
	@media (max-width: 600px) {
		background-size: 100% 100%;
		height: 220px;
	}
}
.my_profile_bar {
	width: 90%;
	height: 130px;
	background-color: rgb(253, 253, 253);
	transform: translate(0px, -50px);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 20px;
	@media (max-width: 600px) {
		width: 90%;
	}
}
.my_profile_dp {
	width: 110px;
	height: 110px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	@media (max-width: 600px) {
		width: 80px;
		height: 80px;
	}
}
.my_profile_name {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin-left: 30px;
	@media (max-width: 600px) {
		h1 {
			font-size: 1rem;
		}
	}

	p {
		font-size: 1.2rem;
		font-weight: 600;
		margin-top: 6px;
	}
}
.my_profile_three_cards_section {
	width: 100%;
	min-height: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 600px) {
		flex-direction: column;
	}
}
.slideProfileContent {
	width: 100%;
}
.my_profile_content_holder {
	min-width: 100%;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	@media (max-width: 600px) {
		width: 85%;
		margin: 10px 0;
	}
	& .card_heading {
		h1 {
			color: rgb(0, 0, 0);
			font-size: 1.2rem;
			font-weight: 500;
			letter-spacing: 0.3px;
			margin-bottom: 15px;
			font-family: 'Open Sans', sans-serif;
		}
	}
	.form_details {
		width: 100%;
		margin: 6px 0;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0 5px;
	}
	.question {
		white-space: nowrap;
		font-size: 1rem;
		font-weight: 700;
		color: #005eff;
		margin-right: 10px;
		font-family: 'Open Sans', sans-serif;
	}
	.answer {
		font-weight: 400;
		line-height: 1.5rem;
		font-size: 15px;
		color: #67748e;
		font-family: 'Open Sans', sans-serif;
	}
	.big_answer {
		flex-direction: column;
		align-items: flex-start;
	}
}

.my_profile_teammate_card {
	width: 60%;
	height: 80px;
	display: flex;
	justify-content: flex-start;
	padding-left: 20px;
	align-items: center;
	margin: 10px 0;
	border: solid rgb(112, 112, 112) 1px;
	@media (max-width: 700px) {
		width: 100%;
		padding-left: 10px;
	}
	.teammate_dp {
		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			@media (max-width: 700px) {
				width: 40px;
				height: 40px;
			}
		}
	}
	.teammate_details {
		margin-left: 15px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		height: 70%;
		width: 70%;
		h1 {
			font-weight: 600;
			font-size: 15px;
			color: #344767;
			word-wrap: break-word;
			font-family: 'Open Sans', sans-serif;
			margin-bottom: 3px;
		}
		p {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			width: 90%;
			line-height: 1.25;
			font-size: 14px;

			color: #67748e;
		}
	}
	.teammate_view_profile {
		width: max-content;
		height: 100%;
	}
	h6 {
		cursor: pointer;
		font-weight: 600;
		font-size: 13px;
		white-space: nowrap;
		color: rgb(229, 29, 176);
		font-family: 'Open Sans', sans-serif;
		@media (max-width: 700px) {
			margin-right: 7px;
		}
	}
}
.my_profile_blogs_section {
	width: 100%;
	min-height: 50vh;
	padding-left: 20px;
	padding-top: 20px;
	background: #fff;
	@media (max-width: 600px) {
		display: grid;
		place-items: center;
		padding: 0;
	}
	.blogs_card_holder {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: center;
		@media (max-width: 600px) {
			flex-direction: column;
		}
	}
	.blogs_card {
		width: 31%;
		margin: 20px 10px;
		height: 470px;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: 600px) {
			width: 85%;
		}
		h1 {
			font-weight: 500;
			font-size: 1.2rem;
			letter-spacing: 1px;
			margin: 10px 0;
			font-family: 'Open Sans', sans-serif;
		}
		h2 {
			font-weight: 700;
			font-family: 'Open Sans', sans-serif;
			font-size: 1rem;
			letter-spacing: 1px;
		}
		p {
			letter-spacing: 1px;
			margin: 10px 0;
			font-weight: 400;
			line-height: 1.5rem;
			font-size: 15px;
			color: #67748e;
			font-family: 'Open Sans', sans-serif;
		}
		button {
			width: 150px;
			height: 40px;
			outline: none;
			background: none;
			color: #b6228f;
			font-weight: 600;
			font-size: 1rem;
			margin-top: 6px;
			border: solid 2px #b6228f;
		}
	}
	.blog_image {
		width: 100%;
		height: 45%;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.add_blog {
		justify-content: space-around;
		align-items: center;
		border: solid 2px #000;
		border-radius: 20px;
		h1 {
			font-size: 3rem;
			font-weight: 800;
		}
	}
}

.white_ban {
	position: sticky;
	width: 100%;
	top: 0px;
	z-index: 5;
	background-color: rgb(255, 255, 255);
	height: fit-content;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tabs_wrap {
	width: 100%;
	& .mobile_view {
		list-style: none;
		white-space: nowrap;
		width: 100%;
		height: 50px;
		margin: 0 auto;
		text-align: center;
		cursor: pointer;
		transition: all 0.5s ease;
		display: none;
		position: relative;
		h1 {
			font-size: 1.2rem;
			font-weight: 800;
		}
		span {
			font-weight: 600;
			position: absolute;
			right: 10px;
		}
		@media (max-width: 700px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.tabs_wrap ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	@media (max-width: 700px) {
		display: none;
		border-top: solid 1px rgb(151, 151, 151);
		flex-direction: column;
		align-items: center;
	}
}
.tabs_wrap ul li {
	height: 50px;
	list-style: none;
	display: flex;
	align-items: center;
	padding: 10px;
	font-size: 0.9rem;
	font-weight: 600;
	cursor: pointer;
	span {
		display: grid;
		place-items: center;
		margin: 0 6px;
		img {
			width: 15px;
			object-fit: contain;
		}
	}
}
.activeSlide {
	border-bottom: solid 3px #000;
	color: #cd27ff;
	@media (max-width: 700px) {
		border-bottom: solid 3px rgba(0, 0, 0, 0);
	}
}
.post_section {
	width: 100%;
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background: #fff;
	.post_box {
		width: 70%;

		min-height: 300px;
		padding: 20px;
		border-radius: 8px;
		margin-bottom: 15px;
		@media (max-width: 700px) {
			width: 100%;
		}
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		}
		.avater_section {
			width: 100%;
			.profile {
				display: flex;
				align-items: center;
				img {
					width: 40px;
					border-radius: 50%;
					height: 40px;
				}
				.name {
					margin-left: 15px;
					p {
						font-weight: 600;
						font-size: 0.9rem;
					}
					span {
						font-size: 0.7rem;
					}
				}
			}
		}
		.para {
			width: 100%;
			margin-top: 10px;
			font-size: 0.85rem;
			color: #333;
		}
		.photo {
			width: 100%;
			margin: 10px 0;
			img {
				width: 100%;
				object-fit: contain;
			}
		}
	}
}
.post_tages {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.tags_box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.tags {
			margin-right: 5px;
			font-size: 0.8rem;
			font-weight: 600;
			border: 1px solid #e95bca;
			padding: 4px;
			color: #cc39ac;
		}
	}
	.time {
		p {
			font-size: 0.8rem;
			color: #333;
		}
	}
}
.post_icons {
	margin-top: 20px;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	img {
		width: 25px;
		object-fit: contain;
	}
}
