@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  position: relative;
}

.wholeBody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  max-height: 100vh;
  padding-top: 60px;
}

header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 55;
}
header .sub_header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  header .sub_header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
header .sub_header .Icons {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 800px) {
  header .sub_header .Icons {
    width: 150px;
  }
}
header .sub_header .Icons .points {
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: space-around;
  background-color: rgba(247, 0, 255, 0.295);
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
@media (max-width: 800px) {
  header .sub_header .Icons .points {
    display: none;
  }
}
header .sub_header .Icons .points p {
  font-weight: 500;
  font-size: 0.9rem;
}
header .sub_header .Icons .points p span {
  margin-right: 2px;
}
header .sub_header .Icons .score {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-around;
}
@media (max-width: 800px) {
  header .sub_header .Icons .score {
    width: 50px;
  }
}
header .sub_header .Icons .score p {
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  cursor: pointer;
  align-items: center;
}
header .sub_header .Icons .score p span {
  margin-right: 2px;
}
header .sub_header .Header_icon {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
header .sub_header .Header_icon img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 150px;
}
@media (max-width: 800px) {
  header .sub_header .Header_icon img {
    display: none;
  }
}
header .sub_header .Header_Profile {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
header .sub_header .Header_Profile img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 25px;
  margin: 0 10px;
}
header .sub_header .Header_Profile .profile_pic {
  width: 45px;
  border-radius: 50%;
  height: 45px;
  cursor: pointer;
}

.ham #ham_icon {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
  display: none;
  cursor: pointer;
  z-index: 555;
}
@media (max-width: 800px) {
  .ham #ham_icon {
    display: flex;
  }
}

aside {
  width: 250px;
  max-width: 220px;
  height: calc(100vh - 60px);
  background-color: rgb(10, 24, 46);
  display: flex;
  align-self: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 0.3s ease;
}
@media (max-width: 1000px) {
  aside {
    position: absolute;
    z-index: 21;
    left: -250px;
    top: 60px;
    transition: all 0.3s ease;
  }
}
aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
aside::-webkit-scrollbar {
  border-radius: 7px;
}
aside::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  height: 50px;
}
aside button {
  margin: 0 auto;
  width: 90%;
  min-height: 40px;
  border: none;
  outline: none;
  background: #7933ff;
  border-radius: 10px;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 20px;
  cursor: pointer;
}
aside .myMenu {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 18px;
  margin-top: 10px;
}
aside .myMenu::after {
  content: "";
  width: 80%;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.315);
}
aside .myMenu .title {
  width: 100%;
  padding-left: 30px;
  margin: 10px 0;
}
aside .myMenu .title h4 {
  font-size: 1.05rem;
  color: #fff;
  text-transform: uppercase;
}
aside .myMenu a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 40px;
}
aside .myMenu a img {
  width: 16px;
  height: 16px;
  color: #fff;
}
aside .myMenu a p {
  text-align: left;
  width: 70%;
  margin-left: 10px;
  font-size: 14px;
  transition-duration: 0.3s;
}
aside .myMenu a p:hover {
  color: rgb(174, 182, 190);
}

#active {
  color: #ff00d4;
}

.avatar {
  margin: 0 30px;
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
}

.profile_dropDown {
  width: 220px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: 58px;
  right: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  transition-duration: 0.5s;
  z-index: 555;
  opacity: 0;
  pointer-events: none;
}

.profile_dropDown_item {
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 220px;
  width: 100%;
  z-index: 5;
  text-decoration: none !important;
  color: #000;
  border-left: solid 5px transparent;
  font-weight: 500;
}

.profile_dropDown_item:hover {
  border-left-color: rgb(236, 69, 208);
  background-color: #e0e0e0;
  color: rgb(236, 69, 208);
  font-weight: 600;
}

.profile_dropDown_item span {
  margin: 10px;
}

.profile_dropDown_item span img {
  width: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

.notification_bell {
  cursor: pointer;
}

.notification_dropdown {
  width: 350px;
  background-color: #ffffff;
  position: fixed;
  top: 58px;
  right: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  transition-duration: 0.5s;
  z-index: 555;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0;
  border-bottom: solid 1px #000;
  box-sizing: border-box;
  pointer-events: none;
}
@media (max-width: 600px) {
  .notification_dropdown {
    width: 90vw;
    right: 20px;
  }
}
.notification_dropdown h1 {
  font-size: 1rem;
  font-weight: 500;
}
.notification_dropdown .see_all_notifications {
  width: 100%;
  height: 50px;
  display: grid;
  place-items: center;
  background: #cfcfcf;
  cursor: pointer;
}
.notification_dropdown .see_all_notifications p {
  font-size: 1rem;
  font-weight: 600;
}

.notification_item {
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 555;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid 1px #000;
  box-sizing: border-box;
}
.notification_item .notification_item_icon {
  width: 60px;
  height: 100%;
  display: grid;
  place-items: center;
}
.notification_item .notification_item_icon .icon_holder {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: red;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.notification_item .notification_item_icon .icon_holder img {
  width: 100%;
  height: 100%;
}
.notification_item .time {
  width: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.notification_item .time h1 {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 700;
}
.notification_item .notification_content {
  width: 75%;
  height: 70px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.notification_item .notification_content p {
  width: 100%;
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.notification_item .notification_content button {
  width: 130px;
  height: 25px;
  border: #ff00d4 solid 1px;
  border-radius: 10px;
  outline: none;
  font-weight: 600;
  margin-top: 7px;
  color: #ff00d4;
  cursor: pointer;
}

.goals_DropDown {
  width: 400px;
  height: 230px;
  z-index: 55;
  position: absolute;
  right: 10%;
  top: 75px;
  border-radius: 5px;
  background-color: #fff;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.goals_DropDown::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: inherit;
  position: absolute;
  top: -10px;
  transform: rotate(45deg);
  left: 45%;
}
.goals_DropDown .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8rem;
  margin: 10px 0;
  padding: 0 10px;
}
.goals_DropDown .title p {
  color: #00aeff;
}
.goals_DropDown .info_text {
  width: 100%;
  height: 30px;
  background-color: #f0eeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 15px;
}
.goals_DropDown .info_text p {
  font-size: 0.7rem;
  letter-spacing: 1px;
}
.goals_DropDown .info_text span {
  cursor: pointer;
}

.goals_section {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
}
.goals_section .left_section,
.goals_section .right_section {
  width: calc(50% - 2.5px);
  height: 100%;
  border-radius: 5px;
  padding: 5px;
}
.goals_section .left_section .total_streak_day {
  height: 60%;
  background-color: #ffecee;
  border-radius: 5px;
}
.goals_section .left_section .total_streak_day .title {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.goals_section .left_section .total_streak_day .title p {
  color: #000;
}
.goals_section .left_section .total_streak_day .title img {
  width: 10px;
}
.goals_section .left_section .total_streak_day .streak_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.goals_section .left_section .total_streak_day .streak_body img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
}
.goals_section .left_section .total_streak_day .streak_body .body_details {
  margin-left: 20px;
}
.goals_section .left_section .total_streak_day .streak_body .body_details p {
  font-weight: 600;
}
.goals_section .left_section .total_streak_day .streak_body .body_details span {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(77, 76, 76);
}
.goals_section .left_section .total_streak_freeeze {
  height: 35%;
  background-color: #ebfcfc;
  border-radius: 5px;
}
.goals_section .left_section .total_streak_freeeze .title {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.goals_section .left_section .total_streak_freeeze .title p {
  color: #000;
}
.goals_section .left_section .total_streak_freeeze .title img {
  width: 20px;
}
.goals_section .left_section .total_streak_freeeze .streak_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.goals_section .left_section .total_streak_freeeze .streak_body img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
}
.goals_section .left_section .total_streak_freeeze .streak_body .body_details {
  margin-left: 20px;
}
.goals_section .left_section .total_streak_freeeze .streak_body .body_details p {
  font-weight: 600;
}
.goals_section .left_section .total_streak_freeeze .streak_body .body_details span {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(77, 76, 76);
}
.goals_section .right_section .right_box {
  background-color: #fff7ea;
  height: calc(100% - 15px);
  border-radius: 5px;
}
.goals_section .right_section .streak_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 15px;
}
.goals_section .right_section .streak_body img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
}
.goals_section .right_section .streak_body .body_details {
  margin-left: 20px;
}
.goals_section .right_section .streak_body .body_details p {
  font-weight: 600;
}
.goals_section .right_section .streak_body .body_details span {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(77, 76, 76);
}
.goals_section .right_section .title {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.goals_section .right_section .title p {
  color: #000;
}
.goals_section .right_section .title .time_box {
  width: 120px;
  height: 40px;
  background-color: rgba(233, 183, 187, 0.7137254902);
  display: grid;
  place-items: center;
  border-radius: 8px;
  margin-top: 8px;
}
.goals_section .right_section .title .time_box span {
  color: rgb(243, 88, 88);
}
.goals_section .progress_streak {
  margin: 10px 0;
  width: 100%;
}
.goals_section .progress_streak .progress_bar {
  width: 100%;
  background-color: #ebebeb;
  height: 10px;
  border-radius: 10px;
}
.goals_section .progress_streak .progress_bar .bar {
  border-radius: inherit;
  height: 100%;
  background-color: #00aeff;
}
.goals_section .progress_streak button {
  border: none;
  border-radius: 10px;
  outline: none;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  background-color: #21dde0;
  color: #fff;
  cursor: pointer;
}
.goals_section .progress_streak button:hover {
  background-color: #00c1c4;
}

.power_dropDown {
  position: absolute;
  top: 60px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 200px;
  padding: 5px;
  right: 16%;
  z-index: 555;
  visibility: hidden;
}
.power_dropDown .power_item {
  width: 100%;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.power_dropDown .power_item p {
  font-size: 1rem;
  font-weight: 600;
}
.power_dropDown .buttons {
  display: grid;
  place-items: center;
}
.power_dropDown .buttons button {
  width: 90%;
  height: 30px;
  border: none;
  outline: none;
  background-color: #34b2bb;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

.coin_dropDown {
  position: absolute;
  top: 60px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 200px;
  padding: 5;
  right: 10%;
  z-index: 555;
  visibility: hidden;
}
.coin_dropDown .coin_item {
  width: 100%;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coin_dropDown .coin_item p {
  font-size: 1rem;
  font-weight: 600;
}
.coin_dropDown .buttons {
  display: grid;
  place-items: center;
}
.coin_dropDown .buttons button {
  width: 90%;
  height: 30px;
  border: none;
  outline: none;
  background-color: #34b2bb;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 5px;
}

.max_width_holder {
  width: 100%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}/*# sourceMappingURL=headers.css.map */