
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/w3.css' %}" />

<div class="container">
    <div class="w3-container w3-margin w3-padding">
        <form class='w3-margin w3-padding' enctype='multipart/form-data' method='POST' action="{% url 'create_post' %}">
            <h4 class='w3-center w3-margin'>Create New POST</h4>
            {% csrf_token %}
            {{ form|crispy }}
            <button style="width:100%;" type='submit' class='w3-round-large w3-green w3-button' >Create</button>
        </form>
    </div>
</div>
{% endblock content %}
