{% extends './forum_base.html' %}
{% load hitcount_tags %}
{% block content %}
    <div class="container">
        <div class="navigate">
            <span><a href="{% url 'home' %}">MyForum - Forums</a> >> <a href="{{forum.get_url}}">{{forum.title}}</a></span>
        </div>
        {% if posts %}
        <table class="mt-5 table table-primary table-striped table-bordered border-secondary">
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Subjects</th>
                <th scope="col">Replies/View</th>
                <th scope="col">Last Reply</th>
              </tr>
            </thead>
            <tbody>
                {% for post in posts %}
              <tr>
                <td>
                    {% if post.closed == True %}
                    <div class="status"><i class="fa fa-lock"></i></div>
                    {% elif post.num_comments == 0 %}
                    <div class="status"><i class="fa fa-frown-o"></i></div>
                    {% elif post.num_comments > 0 and post.num_comments < 2 %}
                    <div class="status"><i class="fa fa-book"></i></div>
                    {% elif post.num_comments >= 2 and post.num_comments < 4 %}
                    <div class="status"><i class="fa fa-rocket"></i></div>
                    {% elif post.num_comments >= 4 %}
                    <div class="status"><i class="fa fa-fire"></i></div>
                    
                    {% endif %}</td>
                <td><a href="{{post.get_url}}">{{post.title}}</a>
                    <br>
                    <span>Started by <b><a href="">{{post.user.fullname|title}}</a></b> .</span></td>
                <td> {{post.num_comments}} comments <br> {% get_hit_count for post %} views</td>
                {% if post.last_reply %}
                <td>{{post.last_reply.date|date}}
                    <br>By <b><a href="">{{post.last_reply.user.fullname|title}}</a></b>
                </td>
                {% else %}
                <td>
                        {{post.date|date}}
                        <br>By <b><a href="">{{post.user.fullname|title}}</a></b>
                 </td>
                {% endif %}
            </tr>
              {% endfor %}
            </tbody>
          </table>
            
            {% else %}
            <div class="subforum-title">
                <h1><i class="fa fa-frown-o"></i>&nbsp;you have no posts yet.</h1>
            </div>
            {% endif %}
            
            
        </div>
            {% if posts.is_paginated %}
                <div class="pagination">
                    pages: {% for num_page in posts.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
                </div>
            {% endif %}
    </div>
    {% endblock content %}