.course_section {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 60px);
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: scroll;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner {
  width: 100%;
  min-height: 400px;
  background-color: #26cd7f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

.banner .yellow_tag {
  height: 50px;
  width: 40%;
  background: #f3c60c;
  bottom: -25px;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 900px) {
  .banner .yellow_tag {
    width: 100vw;
  }
}

.banner .yellow_tag p {
  font-size: 0.9rem;
  padding-left: 20px;
  font-weight: 600;
}

@media (max-width: 700px) {
  .banner .yellow_tag p {
    font-size: 0.8rem;
    padding-left: 10px;
  }
}

.banner .yellow_tag .hide {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-left: 50px solid transparent;
}

.banner .left_side_banner,
.banner .right_side_banner {
  width: 50%;
}

@media (max-width: 900px) {
  .banner .left_side_banner,
  .banner .right_side_banner {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .banner .left_side_banner {
    height: 60%;
    margin-top: 10px;
  }
}

.banner .right_side_banner {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (max-width: 900px) {
  .banner .right_side_banner {
    height: 40%;
  }
}

.banner .right_side_banner img {
  width: 80%;
}

.banner .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.banner .title p {
  color: #05192d;
  font-weight: 800;
  margin: 0px 0px 16px;
  white-space: normal;
  letter-spacing: 0px;
  line-height: 1.25;
  font-size: 34px;
}

.banner .banner_tag {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
  height: 130px;
}

.banner .banner_tag p {
  font-style: normal;
  color: #4d4d4d;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.3rem;
  z-index: 5;
  width: 100%;
}

.banner .para {
  width: 60%;
}

@media (max-width: 920px) {
  .banner .para {
    width: 100%;
  }
}

.banner .para p {
  color: #05192d;
  font-family: Studio-Feixen-Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin: 0px;
  font-size: 0.9;
}

@media (max-width: 520px) {
  .banner .para p {
    font-size: 14px;
  }
}

.banner .para p span {
  color: #f736d6;
}

.course_popular_card_section {
  width: 100%;
  background-color: white;
}

@media (max-width: 620px) {
  .course_popular_card_section {
    min-height: 100%;
  }
}

.course_popular_card_section .popular_card_section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.course_popular_card_section .title {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.course_popular_card_section .title p {
  font-size: 1.6rem;
  font-weight: 600;
}

.course_card {
  min-width: 320px;
  width: 31%;
  min-height: 450px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course_card .image {
  width: 100%;
  height: 200px;
}

.course_card .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.course_card .course_body {
  width: 100%;
  padding: 20px;
}

.course_card .course_body .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  height: 50px;
}

.course_card .course_body .title span {
  color: #f736d6;
  font-weight: 600;
  font-size: 0.8rem;
}

.course_card .course_body .title p {
  font-size: 1rem;
  font-weight: 800;
}

.course_card .course_body .icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

.course_card .course_body .icons .icon_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course_card .course_body .icons .icon_item span {
  width: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.course_card .course_body .icons .icon_item span img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 20px;
}

.course_card .course_body .icons .icon_item p {
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 5px;
}

.course_card .course_body .par {
  width: 100%;
  margin: 5px 0;
}

.course_card .course_body .par p {
  font-size: 0.8rem;
  font-weight: 600;
}

.course_card .course_body .course_time p {
  font-size: 0.7rem;
  color: #7a7a7a;
}

.course_card .course_body button {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  margin: 10px 0;
  background-color: #005eff;
  color: #ffffff;
}

.courses_section {
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  padding: 0 30px;
}

.courses_section .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courses_section .title p {
  font-size: 1.3rem;
  font-weight: 600;
}

.courses_section .title span {
  font-size: 0.8rem;
}

.coures_card_section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 600px) {
  .coures_card_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.search {
  height: 35px;
}

.search-container {
  width: 320px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .search-container {
    width: 180px;
  }
}

.search-container input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
}

.search-container input#search-bar:focus {
  border: 1px solid #008abf;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  color: #008abf;
}

.search-container input#search-bar:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-container input#search-bar:focus::-moz-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-container input#search-bar:focus:-ms-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-container .search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -10px;
}
/*# sourceMappingURL=courses.css.map */