.editProfile {
  width: 90%;
  max-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
  margin: 0 auto;
  padding: 0 40px 0 20px;
}

@media (max-width: 700px) {
  .editProfile {
    max-height: 100%;
    width: 100%;
  }
}

.sub_editProfile {
  max-width: 1400px;
}

.editProfileHeader {
  width: 90%;
  height: 100px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .editProfileHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #f6f6f6;
    z-index: 20;
    width: 100%;
  }
}

.editProfileHeaderTabs {
  min-width: 130px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .editProfileHeaderTabs {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}

.editProfileHeaderTabs div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #c9c9c9;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  color: black;
  border: none;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.editProfileHeaderTabs div.active {
  background-color: black;
  color: #fff;
}

@media (max-width: 600px) {
  .editProfileHeaderTabs div {
    width: 40px;
    height: 40px;
  }
}

.editProfileHeaderTabs p {
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 600px) {
  .editProfileHeaderTabs p {
    font-size: 0.7rem;
    font-weight: 600;
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.editProfiletabcontent {
  display: none;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  min-height: 40vh;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

.editProfileForm {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editProfileForm .upper__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 720px) {
  .editProfileForm .upper__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.editProfileForm .lower__section {
  width: 100%;
  margin-top: 50px;
}

.editProfileForm .lower__section .details_edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 700px) {
  .editProfileForm .lower__section .details_edit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.editProfileForm .Profile_edit {
  width: 250px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 720px) {
  .editProfileForm .Profile_edit {
    width: 90%;
  }
}

.editProfileForm .Profile_edit label {
  cursor: pointer;
}

.editProfileForm .Profile_edit label img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
  border-radius: 50%;
}

.editProfileForm .Profile_edit #profile {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.editProfileForm .Profile_edit .button_zone {
  width: 100%;
  height: 80px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.editProfileForm .Profile_edit .button_zone #upload {
  background-color: #000;
  color: #fff;
}

.editProfileForm .Profile_edit .button_zone label {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 160px;
  height: 35px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(189, 172, 172, 0.933);
}

.details_edit {
  width: calc(100% - 250px);
}

@media (max-width: 720px) {
  .details_edit {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .details_edit .display {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 500px;
  }
}

.details_edit .details_edit_zone {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  .details_edit .details_edit_zone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
  }
}

.details_edit .details_edit_zone .input_zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.details_edit .details_edit_zone .input_zone label {
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
}

@media (max-width: 720px) {
  .details_edit .details_edit_zone .input_zone label {
    font-size: 18px;
  }
}

.details_edit .details_edit_zone .input_zone div {
  font-family: Nunito;
  text-align: center;
}

.details_edit .details_edit_zone .input_zone div p {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}

@media (max-width: 720px) {
  .details_edit .details_edit_zone .input_zone div {
    font-size: 1rem;
  }
}

.details_edit .details_edit_zone .input_zone div input {
  border: none;
  outline: none;
  border-bottom: 2px solid #3333;
  width: 320px;
  height: 40px;
  background: none;
}

.form__bio {
  width: calc(100% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .form__bio {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.form__bio input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #333;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
}

.resume {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin: 20px 10px;
  width: 40%;
}

@media (max-width: 630px) {
  .form__group {
    width: 100%;
    margin: 5px auto;
  }
  .form__group input {
    width: 100%;
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000000;
  outline: 0;
  font-size: 1rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field::-webkit-input-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000;
  white-space: nowrap;
  pointer-events: none;
}

@media (max-width: 650px) {
  .form__label {
    font-size: 0.8rem;
  }
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #b6228f;
  font-weight: 200;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.file-input {
  width: 100%;
}

.file {
  opacity: 0;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  display: block;
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background: #e4e4e4;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.file-name {
  position: absolute;
  width: 300px;
  top: 15px;
  left: 230px;
  font-size: 0.85rem;
  color: #555;
}

.file input:hover + label,
input:focus + label {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

/* Adding an outline to the label on focus */
.file input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

.Educational_edit {
  padding: 20px;
}

.Educational_input_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 700px) {
  .Educational_input_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
}

@media (max-width: 700px) {
  .title {
    font-size: 1rem;
  }
}

.Educational_input_radio_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Educational_input_radio_buttons input {
  width: 50px;
}

.custom_radio {
  margin: 20px;
}

.custom_radio input[type='radio'] {
  display: none;
}

.custom_radio input[type='radio'] + label {
  position: relative;
  display: inline-block;
  padding-left: 1.5em;
  margin-right: 2em;
  cursor: pointer;
  line-height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom_radio input[type='radio'] + label:before,
.custom_radio input[type='radio'] + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  color: white;
  font-family: Times;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.custom_radio input[type='radio'] + label:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em white;
          box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em white;
}

.custom_radio input[type='radio'] + label:hover:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
          box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
}

.custom_radio input[type='radio']:checked + label:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #000000;
          box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #000000;
}

.file_upload_zone {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (max-width: 700px) {
  .file_upload_zone {
    left: 10px;
  }
}

.file_upload_zone div {
  width: 70px;
  height: 70px;
  color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.file_upload_zone .add {
  background-color: #fc00bd;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.file_upload_zone .add:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.add_tags {
  width: 40%;
  padding: 20px;
}

@media (max-width: 680px) {
  .add_tags {
    width: 100%;
    padding: 0px;
    margin: 10px 0;
  }
}

.add_tags .tag-disp {
  width: 100%;
  padding: 0 0 1% 0;
  font-size: 0.8rem;
}

.tag {
  display: inline-block;
  padding: 5px 10px 5px 5px;
  border-radius: 5px;
  background-color: #fc00bd;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 0.8rem;
  outline: none;
  border: 1px solid #fc00bd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.tag::after {
  display: inline-block;
  margin-left: 5px;
  content: 'x';
}

.tag:hover {
  background-color: #ffff;
  color: #fc00bd;
}

.form-textinput {
  font-size: 1.1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: #000000;
  width: 100%;
  height: 30px;
  background: none;
}

.form-textinput:focus {
  outline: none;
  border-color: var(--appcolor);
}

.form-textinput::-webkit-outer-spin-button,
.form-textinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-textinput[type='number'] {
  -moz-appearance: textfield;
}

.editProfiletabcontentTwo {
  position: relative;
}

.deleteButton {
  width: 100px;
  height: 35px;
  color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 5px;
  border: 1px solid #ff0052;
  color: #ff0052;
  float: right;
}

.deleteButton:hover {
  background-color: #ff0052;
  color: #fff;
}

@media (max-width: 650px) {
  .deleteButton {
    width: 80px;
  }
}

.nav_buttons_container {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav_buttons_container .nav_buttons_box {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_buttons_container .nav_buttons_box div {
  width: 100px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  height: 35px;
  background: #0a182e;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .nav_buttons_container .nav_buttons_box div {
    width: 90px;
  }
}

.nav_buttons_container .nav_buttons_box button {
  width: 120px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 35px;
  background: #0a182e;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .nav_buttons_container .nav_buttons_box button {
    width: 90px;
  }
}

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 40px;
  font-size: 17px;
  white-space: nowrap;
}

#toast #img {
  width: 50px;
  height: 50px;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #111;
  color: #fff;
}

#toast #desc {
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 40px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 40px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}

@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 40px;
    opacity: 1;
  }
  to {
    top: 70px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 40px;
    opacity: 1;
  }
  to {
    top: 70px;
    opacity: 0;
  }
}
/*# sourceMappingURL=edit_profile.css.map */