@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main_body {
  width: 100%;
  min-height: 100vh;
}

.hero_section {
  width: 100%;
  min-height: calc(100vh);
  color: #000;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
}

@media (max-width: 780px) {
  .hero_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
}

.hero_section .left_section {
  width: 40%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero_section .left_section .title {
  width: 80%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero_section .left_section .title h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.hero_section .left_section .para {
  margin-top: 50px;
  width: 80%;
}

.hero_section .right_section {
  width: 60%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero_section .right_section img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 90%;
}

@media (max-width: 780px) {
  .hero_section .left_section {
    width: 100%;
  }
  .hero_section .left_section .title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero_section .left_section .title h1 {
    text-align: center;
  }
  .hero_section .left_section .para {
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
  .hero_section .right_section {
    width: 100%;
    margin-top: 30px;
  }
  .hero_section .right_section img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 90%;
  }
}

@media (max-width: 520px) {
  .hero_section .left_section .title h1 {
    font-size: 2.5rem;
  }
}

.card_section {
  padding: 20px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 25px;
  grid-auto-flow: dense;
}

@media (max-width: 880px) {
  .card_section {
    place-items: center;
    width: 100%;
  }
}

.card_section .card_conatiner {
  width: 350px;
  height: 350px;
  padding: 2px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card_section .card_conatiner .img_section {
  width: 100%;
}

.card_section .card_conatiner .img_section img {
  height: 50%;
  width: 100%;
}

.card_section .card_conatiner .para {
  padding: 20px 0;
  width: 100%;
  overflow: hidden;
}

.card_section .card_conatiner .para .date p {
  color: #727070;
  font-size: 0.8rem;
}

.card_section .card_conatiner .para .desp {
  text-overflow: ellipsis;
  font-size: 1.2rem;
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */